#chart-container {

    padding: 20px;
}

body > div {
	margin: 50px 50px;
}

.line-switcher {
    color: white;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.line-switcher-off {
    background: white;
}

.line-switcher-main-container {
    display: flex;
}

.line-switcher-container {
    display: flex;
    margin: 5px;
    border: 1px solid #bdbbbb;
    border-radius: 20px;
    padding: 5px 7px;
}

.run-animation-top-mid {
    animation: top-mid 200ms ease forwards;
    -webkit-animation: top-mid 200ms ease forwards;
}

.run-animation-mid-bot {
    animation: mid-bot 200ms ease forwards;
    -webkit-animation: mid-bot 200ms ease forwards;
}

.run-animation-mid-top {
    animation: mid-top 200ms ease forwards;
    -webkit-animation: mid-top 200ms ease forwards;
}

.run-animation-bot-mid {
    animation: bot-mid 200ms ease forwards;
    -webkit-animation: bot-mid 200ms ease forwards;
}

@keyframes mid-top {
    from {
        top: 0;
        opacity: 1;
    }
    70% {
        opacity: 0.2;
    }
    to {
        top: -100px;
        opacity: 0;
    }
}

@keyframes top-mid {
    from {
        top: -100px;
        opacity: 0;
    }
    70% {
        opacity: 0.2;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes bot-mid {
    from {
        top: 100px;
        opacity: 0;
    }
    70% {
        opacity: 0.2;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes mid-bot {
    from {
        top: 0;
        opacity: 1;
    }
    70% {
        opacity: 0.2;
    }
    to {
        top: 100px;
        opacity: 0;
    }
}